.nav {
  border-bottom: 1px solid #7e7c7c;
}

.nav,
.nav--links {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

.nav--links {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: lightblue;
}

.listing {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
}

.listing--details {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}

.movie--display {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding: 1rem 0;
}

#poster {
  height: 500px;
  width: 100%;
  object-fit: cover;
}

#poster:hover {
  cursor: pointer;
  transform: scale(1, 1);
  transition: all 300ms linear;
}

.no-overflow {
  overflow: hidden;
}

.movie--name {
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
}

.horizontal--line {
  border-color: #d8d8d8;
  text-align: center;
}
